<div class="column-layout live-feeds-header">
  <div class="row-layout live-header-badge-row">
    <h3 class="content">
      Algerian Broadcast Center
    </h3>
    <igx-badge type="error" value="ONLINE STREAMING" class="broadcast-live-badge"></igx-badge>
  </div>
  <p class="live-description">
    Tune in directly to the official Algerian national TV networks and national radio streams.
  </p>
</div>
<div class="row-layout streams-row">
  <igx-card class="entv-tv-card">
    <igx-card-media height="340px">
      <img src="/assets/a-sleek-modern-high-tech-telev-0d1f576b786b.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        ENTV Web TV - Live Stream
      </h3>
      <h5 igxCardHeaderSubtitle>
        National Television Network (EPTV)
      </h5>
    </igx-card-header>
    <igx-card-content>
      <div class="column-layout column-layout-9u-9w-8l">
        <div class="row-layout entv-info">
          <p class="ig-typography__body-2 content">
            Channel 1 • Arabic/Kabyle/French
          </p>
          <igx-badge type="success" value="ON AIR" class="broadcast-live-badge"></igx-badge>
        </div>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="button-1hj-4gm">
          <igx-icon class="icon">
            play_arrow
          </igx-icon>
          <span>Stream TV Channel</span>
        </button>
        <button igxButton="outlined" type="button" class="button-x-0ea-4-7">
          <igx-icon class="icon_1">
            open_in_new
          </igx-icon>
          <span>Official Web Portal</span>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="entv-tv-card">
    <igx-card-media height="340px">
      <img src="/assets/a-modern-radio-broadcasting-co-e26d03da917e.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Radio Algérie - Chaine 3
      </h3>
      <h5 igxCardHeaderSubtitle>
        National Information and Culture Network
      </h5>
    </igx-card-header>
    <igx-card-content>
      <div class="column-layout column-layout-9u-9w-8l">
        <div class="row-layout entv-info">
          <p class="ig-typography__body-2 content">
            Live Audio Feed • French Broadcast
          </p>
          <igx-badge type="success" value="LIVE BROADCAST" class="broadcast-live-badge"></igx-badge>
        </div>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="button-1hj-4gm">
          <igx-icon class="icon">
            volume_up
          </igx-icon>
          <span>Listen Live</span>
        </button>
        <button igxButton="outlined" type="button" class="button-x-0ea-4-7">
          <igx-icon class="icon_1">
            schedule
          </igx-icon>
          <span>Radio Schedule</span>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="entv-tv-card">
    <igx-card-media height="340px">
      <img src="/assets/vibrant-colorful-old-architect-970a02f33a48.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Radio El Bahdja
      </h3>
      <h5 igxCardHeaderSubtitle>
        The Capital's Favorite Cultural Station
      </h5>
    </igx-card-header>
    <igx-card-content>
      <div class="column-layout column-layout-9u-9w-8l">
        <div class="row-layout entv-info">
          <p class="ig-typography__body-2 content">
            Local Algiers Culture • Shaabi, Music &amp; News
          </p>
          <igx-badge type="success" value="LIVE STREAM" class="broadcast-live-badge"></igx-badge>
        </div>
      </div>
    </igx-card-content>
    <igx-card-actions>
      <ng-container igxStart>
        <button igxButton="contained" type="button" class="button-1hj-4gm">
          <igx-icon class="icon">
            volume_up
          </igx-icon>
          <span>Listen Live</span>
        </button>
        <button igxButton="outlined" type="button" class="button-x-0ea-4-7">
          <igx-icon class="icon_1">
            star_border
          </igx-icon>
          <span>Favorite</span>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
